* {
  box-sizing: border-box;
}
.Gallary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 464px;
  margin: 0 auto;
  position: relative;
}
.Gallary__slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.Gallary__slides {
  display: flex;
  width: 100%;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.Gallary__slides::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
.Gallary__slides::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 1px;
}
.Gallary__slides::-webkit-scrollbar-track {
  background: transparent;
}
.Gallary__slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  padding-top: 100%;

  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Gallary__slide:target {
  /*   transform: scale(0.8); */
  /* border: solid #eee 2px; */
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  .Gallary__slider > a {
    display: none;
  }
}

.Gallary__pagination {
  margin-top: 20px;
  width: 100%;
  display: flex;
}

.Gallary__paginationControll {
  /* width: calc(100% / 5 - 0.8px);
  padding-top: calc(100% / 5 / 1.3); */

  border-radius: 4px;
  border: none;
  margin-left: calc(100% / 30);
  margin-right: calc(100% / 30);
  position: relative;

  scroll-snap-align: start;
  flex-shrink: 0;
  width: calc(100% / 5 - 0.8px);
  padding-top: calc(100% / 4 / 1.3);
}

.Gallary__paginationButton:first-of-type {
  margin-right: 12px;
}

.Gallary__paginationButton:last-of-type {
  margin-left: 12px;
}

.Gallary__image {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.Gallary__paginationMobile {
  display: none;
}

@media (max-width: 380px) {
  .Gallary__pagination {
    display: none;
  }
  .Gallary__paginationMobile {
    position: absolute;
    bottom: 16px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
  }

  .Gallary__paginationMobileControl {
    width: 12px;
    height: 12px;
    border: none;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 50%;
  }
}

.Gallary__imagePagination {
  opacity: 0.4;
}

.Gallary__imagePagination_active {
  border: 2px solid #2f80ed;
  opacity: 1 !important;
}
